

<div class="container">
  <h2> Vehicle Data </h2>
  <p id="notice"><%= notice %></p>
  <div id='map'></div>
<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @vehicle.owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vehicle.address %>
</p>

<p>
  <strong>Charging sector:</strong>
  <%= @vehicle.charging_sector %>
</p>

<p>
  <strong>Battery capacity:</strong>
  <%= @vehicle.battery_capacity %>
</p>
<h3>My Recent Journeys</h3>
<table class="table">
  <thead>
    <tr>
      <th>Start</th>
      <th>Destination</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
   <% @vehicle.journeys.each do |journey| %>
    <tr>
      <td scope="row"><%= journey.origin %></td>
      <td scope="row"><%= journey.destination %></td>
      <td scope="row"><%= link_to 'Show', journey %></td>
    </tr>
    <% end%>
  </tbody>
</table>
</div>
<script>
var lat = <%= @vehicle.latitude %>;
var long = <%= @vehicle.longitude %>;
var map = L.map('map').setView([lat, long], 13);
var latlngs =  <%= @vehicle.journeys.map {|jny| jny.consumptions.map {|cns| [cns.lat.to_f.round(3), cns.lon.to_f.round(3)]}} %>
var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([lat, long]).addTo(map)
    .bindPopup('<%= @vehicle.name %>')
    .openPopup();

</script>
<%= link_to 'Add Journey', new_journey_path(@vehicle) %>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
