<!DOCTYPE html>
<html>
  <head>
    <title>Lifecycle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'LifeCycle', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <%= link_to 'Network Overview', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Charging', charging_path(current_owner), class: 'nav-link' %>
            </li>
        </ul>
        <% if current_owner %>
          <%= link_to "My Account ", owner_path(current_owner[:id]),class: 'nav-link' %>
          <%= link_to "Sign out", destroy_owner_session_path, :method => :delete, class: 'btn btn-outline' %>
        <%else %>
          <%= link_to "Sign up", new_owner_registration_path, class: "btn btn-outline"%>
          <%= link_to "Sign in", new_owner_session_path, class: "btn btn-outline"%>
        <% end%>
    </div>
</nav>
    <%= yield %>
  </body>
</html>
